<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CN2023 - HW2</title>
    </head>
    <body>
        <h1>File List</h1>
        <table>
            <thead>
              <tr>
                <th>Files</th>
              </tr>
            </thead>
            <tbody>
                <?FILE_LIST?>
            </tbody>
        </table>
        <a href="/">Home</a>
        <a href="/upload/file">File Uploader</a>
    </body>
</html>