<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CN2023 - HW2</title>
    </head>
    <body>
        <h1>Video List</h1>
        <table>
            <thead>
              <tr>
                <th>Videos</th>
              </tr>
            </thead>
            <tbody>
                <?VIDEO_LIST?>
            </tbody>
        </table>
        <a href="/">Home</a>
        <a href="/upload/video">Video Uploader</a>
    </body>
</html>